# Tested with Python 3.10.22. SCS for PLYDS; CPU PyTorch for SNDS.
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.0.1+cpu ; platform_system != "Darwin"
torch==2.0.1 ; platform_system == "Darwin"
numpy==1.26.4
scipy==1.15.3
matplotlib==3.7.1
cvxpy==1.7.5
scs==3.3.1
pylasadataset==0.1.1
